
img {
    height: auto;
    width: 100px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f0f0f5;
    color: #333333;
    margin: 0;
    padding: 0 15px;
    background-color: rgb(0, 128, 79);
}

header,
section {
    margin: 25px 0;
    padding: 25px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 4rem;
    font-weight: 700;
    color: #8a4baf;
    text-transform: normal;
    margin: 50px;
}

h2 {
    color: #6a3a8f;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* SKILLS SECTION */
#skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 12px;
}

#skills div {
    background: #f5f1ff;
    padding: 12px;
    border-radius: 6px;
    border-left: 4px solid #8a4baf;
    text-align: center;
}

/* EXPERIENCE SECTION */
#experience {
    display: flex;
    flex-direction: column;
}

#experience .experience-header {
    display: flex;
    align-items: center;
    gap: 10px;
}


#experience .experience-date {
    font-size: 0.9rem;
    font-style: italic;
}

/* CONNECT SECTION */
#connect a {
    background: #8a4baf;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
}

#connect ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}






body {
    font-family: 'Poppins', sans-serif;
    background: #f0f0f5;
    color: #333333;
    margin: 0;
    padding: 0 15px;
    background-color: rgb(0, 128, 79);
}

header,
section {
    margin: 25px 0;
    padding: 25px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
 header nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;

h1 {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 4rem;
    font-weight: 700;
    color: #8a4baf;
    text-transform: normal
    margin: 50px;
}

h2 {
    color: #6a3a8f;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 12px;
}

#skills div {
    background: #f5f1ff;
    padding: 12px;
    border-radius: 6px;
    border-left: 4px solid #8a4baf;
    text-align: center;
}

#connect a {
    background: #8a4baf;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
}

